
Assets/[PostProcessing]/
Assets/[StandardAssets]/
*.meta
Assets/Texture/Old/NewSpace/Space.jpg
Assets/Texture/Old/NewSpace/SpaceEarth.jpg
Assets/Texture/Old/NewSpace/SpaceSun.jpg
Assets/Texture/Old/Space2.jpg
Assets/Texture/Old/Space2UpDown.jpg
Assets/Texture/Old/Space3.jpg
Assets/Texture/Old/Space3UpDown.jpg
Assets/Texture/Old/UI.jpg
Assets/Texture/Old/WallpaperMenu.jpg
Assets/Texture/Old/WallpaperStart.jpg
